html {box-sizing:border-box; height:100%;}
*, *:before, *:after {box-sizing:inherit;}

html, body, #app, #app > div {
  height:100%;
}
html, body {
  overflow: hidden;
  background: radial-gradient(circle, #5C6E77, #41545D, #0D202A);
}
.navs{
    background-color: #5D553E;
    height: 120px;
}
.nav{
    text-decoration: none;
    color: white;
}

.foodTruckBackground{
	height: 200px;
	width: 200px;
	position: relative;
	left: 152px;
}

.foodTruck{
	position: relative;
    top: -200px;
}

.foodTruckImage{
	height: 200px;
	width: 200px;
	position: relative;
	left: 152px;
}

.logoContainer{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -105px;
    margin-bottom: -95px;
}
.foodiscool{
    position: relative;
    top: -100px;
    font-size: 14px;
    color: #BCB08F;
    background-color: white;
    padding-top: 8px;
    display: inline;
}
.fakeTrucks{
    text-decoration: none;
}
.profileButtonContainer{
    position: relative;
    top: 67px;
    left: 427px;
    z-index: 10;
}
.updateProfilebutton{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.updateProfilebutton:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.WhenWhereButtonContainer{
    position: relative;
    top: 31px;
    left: 835px;
    z-index: 10;
}
.updateWhereWhen{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.updateWhereWhen:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.logoutButtonContainer{
    position: relative;
    top: -55px;
    left: 1342px;
}
.logout{
    position:relative;
	height: 60px;
	width: 60px;
	margin-top: 2px;
	border:none;
    cursor: pointer;
}
.toMapContainer{
    position: relative;
    top: 68px;
    left: 426px;
    z-index: 10;
}
.toMap{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.toMap:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.toCustomerProfileContainer{
    position: relative;
    top: 31px;
    left: 835px;
    z-index: 10;
}
.toCustomerProfile{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.toCustomerProfile:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}

#animated-example {
   width: 300px;
   height: 200px;
   border: solid 1px #1A7404;
   position: absolute;
   background-color: #62A80A;
}

.animated {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
}
@keyframes bounceOutRight {
    0% {
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}
.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}
