html {box-sizing:border-box; height:100%;}
*, *:before, *:after {box-sizing:inherit;}

html, body, #app, #app > div {
  height:100%;
}
html, body {
  overflow: hidden;
  background: radial-gradient(circle, #5C6E77, #41545D, #0D202A);
}
.navs{
    background-color: #5D553E;
}
.nav{
    text-decoration: none;
    color: white;
}
.logo{
	height: 200px;
	width: 200px;
	position: relative;
	left: 152px;
}
.logoContainer{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -105px;
    margin-bottom: -95px;
}
.foodiscool{
    position: relative;
    color: white;
    top: -167px;
    left: 203px;
}
