html {box-sizing:border-box; height:100%;}
*, *:before, *:after {box-sizing:inherit;}

html, body, #app, #app > div {
  height:100%;
}
html, body {
  overflow: hidden;
  background: radial-gradient(circle, #5C6E77, #41545D, #0D202A);
}
.navs{
    background-color: #5D553E;
    height: 120px;
}
.nav{
    text-decoration: none;
    color: white;
}
.logo{
	height: 200px;
	width: 200px;
	position: relative;
	left: 152px;
}

.logoContainer{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: -105px;
    margin-bottom: -95px;
}
.foodiscool{
    position: relative;
    color: #BCB08F;
    top: -131px;
    left: 194px;
    background-color: white;
    width: 76px;
    height: 33px;
    padding-top: 8px;
}
.fakeTrucks{
    text-decoration: none;
}
.profileButtonContainer{
    position: relative;
    top: 67px;
    left: 427px;
    z-index: 10;
}
.updateProfilebutton{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.updateProfilebutton:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.WhenWhereButtonContainer{
    position: relative;
    top: 31px;
    left: 835px;
    z-index: 10;
}
.updateWhereWhen{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.updateWhereWhen:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.logoutButtonContainer{
    position: relative;
    top: -55px;
    left: 1342px;
}
.logout{
    position:relative;
	height: 60px;
	width: 60px;
	margin-top: 2px;
	border:none;
    cursor: pointer;
}
.toMapContainer{
    position: relative;
    top: 68px;
    left: 426px;
    z-index: 10;
}
.toMap{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.toMap:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.toCustomerProfileContainer{
    position: relative;
    top: 31px;
    left: 835px;
    z-index: 10;
}
.toCustomerProfile{
    position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.toCustomerProfile:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
