.loginContainer{
	width: 700px;
	height: 360px;
	margin: 0 auto;
	margin-top: 65px;
	overflow: scroll;
}

.loginBox{
	height: 300px;
	width: 300px;
	margin-top:50px;
	margin-left: 5px;
}
.registerBox{
	height: 300px;
	width: 300px;
	margin-top:50px;
	float: right;
}
.box{
	height: 100px;
	width: 100px;
	padding-left:73px;
	padding-top:10px;
}

.login{
	background-color: #5C6E77;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:10px;
    padding-left: 30px;
    border: 1px solid rgba(13,32,42,.4);
    outline: none;
    margin-bottom: 2px;
}
.password{
	background-color: #5C6E77;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:9px;
    padding-left: 30px;
	border: 1px solid rgba(13,32,42,.4);
    outline: none;
    margin-bottom: 2px;
}
.confirmPassword{
	background-color: #5C6E77;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:9px;
    padding-left: 30px;
	border: 1px solid rgba(13,32,42,.4);
    outline: none;
}

.loginButton{
	height: 45px;
	width: 224px;
	margin-left: 35px;
	margin-top: 15px;
	box-shadow: 10px 10px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:4px solid #5C6E77;
}
.loginButton:active {
	height: 40px;
	width: 224px;
	margin-left: 35px;
	margin-top: 15px;
	border-radius: 6px;
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
}
.fa {
	margin-left: 10px;
	position: relative;
	left: 30px;
}
.radioButtons{
	margin-left: 45px;
	margin-top: 5px;
}
.demo{
	margin-top: -100px;
	margin-left: 40px;
}
.demoCustomer{
	width:150px;
	margin-bottom: 10px;
	background-color: #5C6E77;
}
.demoTruck{
	width:150px;
	background-color: #5C6E77;
}
