.loginPageContainer{
	width: 300px;
	height: 500px;
	margin: 0 auto;
	overflow: scroll;
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 800px;
	padding: 50px 0;
}

.flipLinkLoginContainer {
	margin-top: 20px;
}
.flipLinkContainer {
	margin-top: 20px;
}
.flipLink {
	float: right;
    color: #BCB08F;
    position: relative;
    left: -40px;
}
.flipLinkLogin {
	float: right;
	margin-right: -90px;
	color:#BCB08F;
}
.loginBox, .registerBox {
	width: 300px;
	height: 320px;
	margin: 0 auto;
	padding: 20px 0;


	/* Enabling 3d space for the transforms */
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	/* When the forms are flipped, they will be hidden */
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	/* Enabling a smooth animated transition */
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

.loginBox {
	z-index: 100;
	opacity: 1;
	margin-top: -320px;
	transform:rotateY(0deg);
}

.flipped .loginBox {
	opacity: 0;
	transform:rotateY(-180deg);
}

.registerBox{
	z-index: 1;
	opacity: 0;
	transform:rotateY(180deg);
}

.flipped .registerBox {
	opacity: 1;
	transform:rotateY(0deg);
}

.box{
	height: 100px;
	width: 100px;
	padding-left:73px;
	padding-top:10px;
}

.login{
	background-color: #eae6e1;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:20px;
    padding-left: 30px;
    border: 1px solid rgba(13,32,42,.4);
    outline: none;
    margin-bottom: 2px;
	color:#423513;
	box-shadow: 3px 3px 5px #192B34;
}
.password{
	background-color: #eae6e1;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:19px;
    padding-left: 30px;
	border: 1px solid rgba(13,32,42,.4);
    outline: none;
    margin-bottom: 2px;
	color:#423513;
	box-shadow: 3px 3px 5px #192B34;
}
.confirmPassword{
	background-color: #eae6e1;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:19px;
    padding-left: 30px;
	border: 1px solid rgba(13,32,42,.4);
    outline: none;
	color:#423513;
	box-shadow: 3px 3px 5px #192B34;
}

.loginButton{
	height: 45px;
	width: 224px;
	margin-left: 35px;
	margin-top: 15px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:4px solid #5C6E77;
}
.loginButton:active {
	height: 40px;
	width: 224px;
	margin-left: 35px;
	margin-top: 20px;
	border-radius: 6px;
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
}
.fa-sign-in {
	position: relative;
	left: 40px;
}
.fa-unlock {
	position: relative;
	left: 40px;
}
.radioButtons{
	margin-left: 45px;
	margin-top: 5px;
	box-shadow: 3px 3px 5px #192B34;
}
.demo{
	width: 229px;
	margin: 0 auto;
	padding-top: 20px;
}
.demoCustomer{
	width: 224px;
	background-color: #5C6E77;
	height:35px;
	border-radius: 6px;
	box-shadow: 3px 3px 5px #192B34;
	outline: none;
}
.demoTruck{
	width: 224px;
	margin-top: 10px;
	background-color: #5C6E77;
	height:35px;
	border-radius: 6px;
	box-shadow: 3px 3px 5px #192B34;
	outline: none;
}
