.menuContainerInfo{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.infoTextPrice{
	color: #BCB08F;
}
.infoText{
	color: #BCB08F;
    margin-right: 20px;
}
.menuImageInfo{
    max-width: 200px;
    max-height: 200px;
}
.menuCards{
	margin: 0 25px 25px 25px;
}
.imageInfoCard{
    display: flex;
    justify-content: center;;
}
.placeholder{
	color: #BCB08F;
	text-align: center;
	margin-top: 20px;
}
