.truckInfoContainer{
	height: 400px;
	width: 950px;
	margin: 0 auto;
	display: flex;
}
.infoLogo{
	height: 400px;
	width: 400px;
	box-shadow: 10px 10px 5px #192B34;
}
.companyName{
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 20px;
}
.infoStyle{
	margin: 0px 20px 20px 20px;
}
.info{
	margin-top: -10px;
}
