.truckInfoContainer{
	height: 400px;
	width: 950px;
	margin: 0 auto;
	display: flex;
}
.infoLogo{
	height: auto;
	width: 400px;
	box-shadow: 10px 10px 5px #192B34;
}
.companyName{
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 20px;
}
.infoStyle{
	margin: 0px 20px 20px 25px;
}
.info{
	margin-top: 10px;
}
.infoText{
	color: #BCB08F;
}
.mapTruckContainer{
	float:right;
	border:1px solid black;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #192B34;
	position: relative;
	top:-400px;
	margin-right: 60px;
}
.socialMedia{
	margin-top:10px;
}
.fa-facebook-square{
	margin-right:5px;
	color: #BCB08F;
	text-decoration: none;
}
.fa-twitter-square{
	margin-right:5px;
    color: #BCB08F;
	text-decoration: none;
}
.fa-instagram{
    color: #BCB08F;
	text-decoration: none;
}
