.truckInfoContainer{
	height: 400px;
	width: 850px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
}
.infoContainer{
	width: 350px;
	margin-left: 45px;
}
.infoLogo{
	max-height: 400px;
	max-width: 400px;
	box-shadow: 3px 3px 5px #192B34;
	background-color: white;
}
.foodTruckInfo{
	display: flex;
}
.companyName{
	font-size: 25px;
	font-weight: bold;
	color: #BCB08F;
}
.infoContent{
	display: flex;
	margin-top: 10px;
}
.cuisineInfo{
	margin-top: 25px;
}
.info{
	margin-top: 10px;
}

.mapTruckContainer{
	border:1px solid black;
	height: 250px;
	width: 400px;
	box-shadow: 3px 3px 5px #192B34;
}
.fa-lg {
	vertical-align: 15% !important;
}
.fa-heart-o{
	margin-left: 15px;
}
.fa-facebook-square{
	margin-right:5px;
	color: #BCB08F;
	text-decoration: none;
	margin-top: 20px;
}
.fa-twitter-square{
	margin-right:5px;
    color: #BCB08F;
	text-decoration: none;
}
.fa-instagram{
    color: #BCB08F;
	text-decoration: none;
}
.favoriteSelected{
	color: #f20909;
}
.truckInformationContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menuLink{
	color: #BCB08F;
}
.menuLinkContainer{
	margin-top:20px;
}
.yelpRating{
	width:75px;
	margin-bottom:-3px;
}
.yelpLogo{
	width: 55px;
	height: auto;
	margin-bottom:-8px;
}
.infoLogoContainer{
	width: 400px;
	height:50px;
	margin-bottom:-20px;
}
.yelpContainer{
	float:right;
	margin-top: -10px;
}
.logoIconsContainer{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
