.truckProfile{
	margin: 0 auto;
	height: 500px;
	width: 1150px;
}

.input{
	width: 300px;
	outline: none;
	height: 30px;
	box-shadow: 3px 3px 5px #192B34;
	padding-left: 15px;
	background-color: #eae6e1;
	border:none;
	color:#423513;
}
.truckButtonContainer{
	text-align: center;
}
.profileButton{
	position:relative;
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.profileButton:active {
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	top: 5px;
}
.profileText{
	width:200px;
	height: 30px;
	box-shadow: 3px 3px 5px #192B34;
	outline: none;
	padding-left: 15px;
	border: 2px solid #9A9A9A;
	background: #eae6e1;
	border:none;
	color:#423513;
}
.menuPrice{
	width:75px;
	height: 30px;
	box-shadow: 3px 3px 5px #192B34;
	outline: none;
	padding-left: 15px;
	border: 2px solid #9A9A9A;
	background: #eae6e1;
	border:none;
	color:#423513;
	margin-left: 9px;
}
.truckForm{
	display: flex;
	width:100%;

}

.truckLabels{
	color: #BCB08F;
	margin-top:-6px;
	height:370px;
	width:125px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}
.menuContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menuItemTitle{
	color: #BCB08F;
	margin: 4px 5px 0 20px;
}

.menuImage{
	width:300px;
	height: 30px;
	box-shadow: 3px 3px 5px #192B34;
	outline: none;
	padding-left: 15px;
	border: 2px solid #9A9A9A;
	background: #eae6e1;
	border:none;
	color:#423513;
	margin-left:10px;
}
