@import "./range";

$track-width: 640px;

input[type=range] {
	@include input-type-range;
}

.setLocation{
	height: 100px;
	width: 798px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
	border-radius: 12px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:7px solid #5C6E77;
}
.setLocation:active {
	height: 90px;
	width: 798px;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	margin-top: 10px;
}
.setTime{
	height: 100px;
	width: 250px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
	border-radius: 12px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:7px solid #5C6E77;
	margin-bottom: 20px;

}
.setTime:active {
	height: 90px;
	width: 250px;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	margin-top: 10px;
	margin-bottom: 20px;
}
.selectedTime{
	background-color: #0D202A;
	outline: none;
	color:white;
}
.whereWhenContainer{
	margin: 0 auto;
	height: 400px;
	width: 800px;

}
.flexTime{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}
.wwContainer{
	margin: 0 auto;
	height: 450px;
	width: 800px;
}

.updateProfile{
	height: 35px;
	width: 180px;
	margin-top: 2px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
	border-radius: 6px;
	outline: none;
	background-color: #C0C0C0;
	border-bottom:3px solid #5C6E77;
}
.updateProfile:active {
	height: 33px;
	width: 180px;
	margin-top: 2px;
	border-radius: 6px;
	box-shadow: 10px 10px 5px #192B34;
	outline: none;
	border-bottom: none;
	margin-top: 5px;
}
.timeTitle{
	margin-bottom: 5px;
	color: #BCB08F;
}
.locationTitle{
	margin-top:15px;
	margin-bottom: 5px;
	color: #BCB08F;
}
.specialText{
	margin-top: -5px;
	margin-right:20px;
	color: #BCB08F;
	margin-bottom: 5px;
}
.specials{
	width:798px;
	height:30px;
	background-color: #eae6e1;
	color:#423513;
	outline: none;
	padding-left: 15px;
	box-shadow: 3px 3px 5px #192B34;
	border:none;
}
.sliderTime{
	margin-left: 5px;
	color: #BCB08F;
}
.timeSlider{
	margin-bottom: 12px;
}
